<h1>Contact Us</h1>

<div class="row">
  <div class="col-sm-6">
    <address>
      <strong>TexMex Restaurant</strong><br>
      301 Howard St<br>
      San Francisco, CA<br>
      USA<br>
      (800)123-4567
    </address>
  </div>
  <div class="col-sm-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.022337408439!2d-122.39647178435149!3d37.78951627975676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858064ca8bbc75%3A0xf0b8802cf2dd1fdf!2s301+Howard+St%2C+San+Francisco%2C+CA+94105!5e0!3m2!1sen!2s!4v1497273813494" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
